<div class="box">
    <div
        class="d-flex justify-content-center"
        style="
            width: 100%;
            height: 12.5%;"
        *ngFor="let row of rows">
        <div
            class="container p-2 d-flex justify-content-center align-items-center"
            *ngFor="let col of cols"
            [ngStyle]="{
                backgroundColor: (col + row) % 2 === 0 ? 'rgba(224, 224, 224, 0.5)' : 'rgba(0, 81, 0, 0.5)'
            }"
            style="
                width: 12.5%;
                height: 100%;
                color: white;">
            
            <ng-container *ngIf="col === queenColumn && queenRows.has(row)">
                <app-piece
                    [color]="pieces[row].color"
                    [name]="pieces[row].name"
                    (click)="onPromotionPieceSelected(row)">
                </app-piece>
            </ng-container>
        </div>
    </div>
</div>
