<!-- <div appHighlight>Testing</div> -->
<div class="board container p-0 border border-dark">
    <div
        class="d-flex justify-content-center"
        style="
            width: 100%;
            height: 12.5%;"
        *ngFor="let row of rows">
        <div
            class="container p-2 d-flex justify-content-center align-items-center"
            *ngFor="let col of cols"
            (click)="squareClicked((row - 1) * 8 + col)"
            [ngStyle]="{
                backgroundColor: selectedPiece === (row - 1) * 8 + col ? '#FFA500' :
                ((col + row) % 2 === 0 ? '#E0E0E0' : '#005100')
            }"
            style="
                width: 12.5%;
                height: 100%;
                color: white;">
            <!-- <ng-container *ngIf="highlightedCells.has((row - 1) * 8 + col)">
                <app-move
                    [coordinates]="[row, col]"
                    (moveClicked)="onMoveClicked($event)">
                </app-move>
            </ng-container> -->
            <ng-container *ngIf="pieces[(row - 1) * 8 + col]">
                <app-piece
                    [color]="pieces[(row - 1) * 8 + col].color"
                    [name]="pieces[(row - 1) * 8 + col].name">
                </app-piece>
            </ng-container>
        </div>
    </div>
</div>
