<button class="m-2 btn btn-dark" (click)="takebackMove(currentBoard)">Takeback <- </button>
<div class="board container p-0 border border-dark">
    <div class="queening-box" *ngIf="queenBoxActivated">
        <app-queening-box
            [queenColumn]="queenColumn"
            [queenRows]="queenRows"
            (promotionSelection)="onPromotionSelection($event)">
        </app-queening-box>
    </div>
    <div
        class="d-flex justify-content-center"
        style="
            width: 100%;
            height: 12.5%;"
        *ngFor="let row of rows">
        <div
            class="container p-2 d-flex justify-content-center align-items-center"
            *ngFor="let col of cols"
            (click)="squareClicked((row - 1) * 8 + col)"
            [ngStyle]="{
                backgroundColor: currentBoard.selectedPiece === (row - 1) * 8 + col ? '#FFA500' :
                ((col + row) % 2 === 0 ? '#E0E0E0' : '#005100')
            }"
            style="
                width: 12.5%;
                height: 100%;

                color: white;">
            <ng-container *ngIf="currentBoard.pieces[(row - 1) * 8 + col]">
                <app-piece
                    [color]="currentBoard.pieces[(row - 1) * 8 + col].color"
                    [name]="currentBoard.pieces[(row - 1) * 8 + col].name">
                </app-piece>
            </ng-container>
        </div>
    </div>
</div>
